/* .box1 {
    max-width: 800px;
    min-width: 400px;
    height: 500px;
}


.box1>img {
    width: 100%;
}


.main {
    background-color: orange;
    width: 500px;
    min-height: 300px;
    max-height: 600px;
    overflow-y: scroll;
}

.main > p {
    font-size: 20px;
} */

.container {
    width: 500px;
    margin: 0px auto;
}

.header {
    width: 500px;
    text-align: center;
    border: 2px solid orange;
    padding: 20px;
    margin: 20px;
}


.header>h2 {
    color: orange;
    text-transform: uppercase;
}

.box {
    width: 500px;
    border: 2px solid orange;
    padding: 20px;
    margin: 20px;
}

.box>p {
    text-align: justify;
}